
.margin5 {
    margin-top: 5px;
}

.margin10 {
    margin-top: 10px;
}

.margin20 {
    margin-top: 20px;
}

.popover-content {
    background: #EEEEEE;
}

.my-custom-class .popover-content {
    background: #EEEEEE;
}